{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    प्रस्तावना
{% endblock %}

{% block content %}

    <p>
        <audio controls id="audioInstructions">
              <source src="{% static "InstructionsVideo.mp3" %}" type="audio/mp3">
            </audio>
    </p>

<p align=center>
<div style="position:absolute;width:100%;height:100%;left:0">
    <video width="640" height="360" autoplay>
    <source src="{% static "InstructionsVideo.mp4" %}" type="video/mp4" >
</video></div>
<!--<div style="position:relative;height:0;padding-bottom:56.21%"><iframe src="https://www.youtube.com/embed/-za1rVFQ2cA?ecver=2" style="position:absolute;width:100%;height:100%;left:0" width="640" height="360" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
-->
</p>

<style>

        #audioInstructions {
            margin: auto;
            width: 100%;
            padding: 10px;
        }
        #next {
            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
        }
        #next:active {
          background-color: #3e8e41;
          box-shadow: 0 5px #666;
          transform: translateY(4px);
        }

</style>

<script>
        $(document).ready(function(){
            // This bit cues the audio instructions to play automatically
            // setTimeout(function(){
            //       document.getElementById('audioInstructions').play(); }, 3000);

            // This bit of code forces the participant to listen to
            // the full instructions before being able to click anything.
            // Just change the time at the end of the function based on
            // length of instructions.
            {#document.getElementById('next').disabled = true;#}
            {#setTimeout(function(){#}
            {#      document.getElementById('next').disabled = false;}, 265000);#}
        });
</script>

<p align="right">
    <button id="next" class="otree-btn-next btn btn-primary">
        <img src ="{% static "NextButton.png" %}" width="140">
    </button>
</p>

{% endblock %}
